[submodule "backend/v2-periphery/lib/forge-std"]
	path = backend/v2-periphery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "backend/solidity-lib/lib/forge-std"]
	path = backend/solidity-lib/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "backend/v2-periphery/lib/openzeppelin-contracts"]
	path = backend/v2-periphery/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
